<form [formGroup]="form" skipValidation >
    <p-panel #pnl [toggleable]="true">
        <!--  Form-->
        <div class="formgrid grid">
            <div class="field col-4">
                <label for="warehouseId" class="block">Mã kho<span class="required">*</span></label>
                <input formControlName="warehouseId" class="w-full" pInputText type="text" />
            </div>
            <div class="field col-4">
                <label for="title" class="block">Tên kho<span class="required">*</span></label>
                <input formControlName="title" class="w-full" pInputText type="text" />
            </div>
            <div class="field-checkbox col-4">
                <p-checkbox formControlName="status" binary="true" id="status"></p-checkbox>
                <label for="status">Sử dụng</label>
            </div>
        </div>
        
        <!--Blocked UI-->
        <p-blockUI [blocked]="blockedPanel" [target]="pnl">
            <p-progressSpinner></p-progressSpinner>
        </p-blockUI>
    </p-panel>
</form>
