@page "/"
@using Microsoft.AspNetCore.Mvc.Localization
@using Store.Localization
@using Volo.Abp.Users
@model Store.Public.Web.Pages.IndexModel
@inject IHtmlLocalizer<StoreResource> L
@inject ICurrentUser CurrentUser
@section styles {
    <abp-style src="/Pages/Home/Index.css" />
}
@section scripts {
    <abp-script src="/Pages/Home/Index.js" />
}
<section class="section-box d-block">
    <div class="banner-hero banner-home5 pt-0 pb-0">
        <div class="box-swiper">
            <div class="swiper-container swiper-group-1">
                <div class="swiper-wrapper">
                    @foreach (var item in Model.Banner)
                    {
                        <partial name="_BannerSlide" model="item" />
                    }
                </div>
                <div class="swiper-pagination swiper-pagination-1"></div>
            </div>
        </div>
    </div>
</section>
<section class="section-box pt-50">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-5 col-md-5 col-sm-12 mb-30">
                <div class="bg-5 block-iphone">
                    <span class="color-brand-3 font-sm-lh32">Starting from $899</span>
                    <h3 class="font-xl mb-10">iPhone 12 Pro 128Gb</h3>
                    <p class="font-base color-brand-3 mb-10">Special Sale</p><a class="btn btn-arrow"
                                                                                href="shop-grid.html">learn more</a>
                </div>
            </div>
            <div class="col-xl-4 col-lg-7 col-md-7 col-sm-12 mb-30">
                <div class="bg-4 block-samsung">
                    <span class="color-brand-3 font-sm-lh32">New Arrivals</span>
                    <h3 class="font-xl mb-10">Samsung 2022 Led TV</h3>
                    <p class="font-base color-brand-3 mb-20">Special Sale</p><a class="btn btn-brand-2 btn-arrow-right"
                                                                                href="shop-grid.html">learn more</a>
                </div>
            </div>
            <div class="col-xl-5 col-lg-12 col-md-12 col-sm-12">
                <div class="bg-6 block-drone">
                    <h3 class="font-33 mb-20">Drone Quadcopter UAV - DJI Air 2S</h3>
                    <div class="mb-30"><strong class="font-18">Gimbal Camera, 5.4K Video</strong></div><a class="btn btn-brand-2 btn-arrow-right" href="shop-grid.html">learn more</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-box mt-30">
    <div class="container">
        <div class="border-bottom pb-25 head-main">
            <h3>Danh mục sản phẩm</h3>
        </div>
        <div class="mt-10">
            <div class="box-swiper">
                <div class="swiper-container swiper-group-style-2">
                    <div class="swiper-wrapper pt-5">
                        <div class="swiper-slide">
                            <ul class="list-9-col">
                                @foreach (var item in Model.Categories)
                                {
                                    <partial name="_ListCategories" model="item" />
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="section-box mt-30">
    <div class="container text-center"><img class="ads1 wow animate__animated animate__fadeInUp" src="assets/imgs/page/homepage5/ads1.png" alt="Genz"></div>
</div>
<section class="section-box pt-50">
    <div class="container">
        <div class="head-main">
            <div class="row">
                <div class="col-xl-7 col-lg-6">
                    <h3 class="mb-5">Best Sellers</h3>
                </div>
            </div>
        </div>
        <div class="tab-content">
            <div class="tab-pane fade active show">
                <div class="list-products-5">
                    @foreach (var item in Model.TopSellerProducts)
                    {
                        <partial name="_Product_BestSellers" model="item" />
                    }
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-box pt-50">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 mb-20">
                <div class="bg-4 box-bdrd-4 bg-headphone">
                    <span class="font-md color-brand-3">Headphone</span>
                    <h4 class="font-32 color-gray-1000 mb-10 mt-5">Rockez 547</h4>
                    <p class="color-brand-1 font-sm">MUSIC EVERYWHERE<br class="d-none d-lg-block">ANYTIME</p>
                    <div class="mt-35"><a class="btn btn-brand-2 btn-arrow-right" href="shop-grid.html">Shop Now</a></div>
                </div>
            </div>
            <div class="col-lg-5 col-md-6 col-sm-6 mb-20">
                <div class="bg-6 box-bdrd-4 bg-watch text-center">
                    <h4 class="font-33 color-gray-1000">LIMITED WEEKLY DEAL</h4>
                    <p class="font-18">Last call for up to<strong class="font-24 color-brand-2">$252.00</strong> OFF</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 mb-20">
                <div class="bg-5 box-bdrd-4 bg-ipad text-center">
                    <span class="font-sm color-brand-3">New Arrivals</span>
                    <h4 class="font-xl color-gray-1000">Certified Deals On<br class="d-none d-lg-block"><span class="color-brand-1">Surface Pro</span> 2022</h4>
                    <div class="mt-15"><a class="btn btn-brand-2 btn-arrow-right" href="shop-grid.html">Shop Now</a></div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-box bg-gray-50 pt-50 pb-50 mt-50">
    <div class="container">
        <div class="head-main bd-gray-200">
            <div class="row">
                <div class="col-xl-7 col-lg-6">
                    <h3 class="mb-5">Trending This Week</h3>
                </div>

            </div>
        </div>
        <div class="tab-content">
            <div class="tab-pane fade active show">
                <div class="list-products-5">
                    @foreach (var item in Model.TopTrendingProducts)
                    {
                        <partial name="_Product_Trending" model="item" />
                    }
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-box mt-50">
    <div class="container">
        <div class="head-main">
            <h3 class="mb-5">Latest News &amp; Events</h3>
        </div>
    </div>
    <div class="container mt-10">
        <div class="box-swiper">
            <div class="swiper-container swiper-group-4">
                <div class="swiper-wrapper pt-5">
                    <div class="list-products-5">
                        @* <partial name="_Product_Trending" />*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="modal fade" id="ModalQuickview" tabindex="-1" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-xl">
        <div class="modal-content apply-job-form">
            <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="modal-body p-30">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="gallery-image">
                            <div class="galleries-2">
                                <div class="detail-gallery">
                                    <div class="product-image-slider-2">
                                        <figure class="border-radius-10">
                                            <img src="/assets/imgs/page/product/img-gallery-1.jpg"
                                                 alt="product image">
                                        </figure>
                                        <figure class="border-radius-10">
                                            <img src="/assets/imgs/page/product/img-gallery-2.jpg"
                                                 alt="product image">
                                        </figure>
                                        <figure class="border-radius-10">
                                            <img src="/assets/imgs/page/product/img-gallery-3.jpg"
                                                 alt="product image">
                                        </figure>
                                        <figure class="border-radius-10">
                                            <img src="/assets/imgs/page/product/img-gallery-4.jpg"
                                                 alt="product image">
                                        </figure>
                                        <figure class="border-radius-10">
                                            <img src="/assets/imgs/page/product/img-gallery-5.jpg"
                                                 alt="product image">
                                        </figure>
                                        <figure class="border-radius-10">
                                            <img src="/assets/imgs/page/product/img-gallery-6.jpg"
                                                 alt="product image">
                                        </figure>
                                        <figure class="border-radius-10">
                                            <img src="/assets/imgs/page/product/img-gallery-7.jpg"
                                                 alt="product image">
                                        </figure>
                                    </div>
                                </div>
                                <div class="slider-nav-thumbnails-2">
                                    <div>
                                        <div class="item-thumb">
                                            <img src="/assets/imgs/page/product/img-gallery-1.jpg"
                                                 alt="product image">
                                        </div>
                                    </div>
                                    <div>
                                        <div class="item-thumb">
                                            <img src="/assets/imgs/page/product/img-gallery-2.jpg"
                                                 alt="product image">
                                        </div>
                                    </div>
                                    <div>
                                        <div class="item-thumb">
                                            <img src="/assets/imgs/page/product/img-gallery-3.jpg"
                                                 alt="product image">
                                        </div>
                                    </div>
                                    <div>
                                        <div class="item-thumb">
                                            <img src="/assets/imgs/page/product/img-gallery-4.jpg"
                                                 alt="product image">
                                        </div>
                                    </div>
                                    <div>
                                        <div class="item-thumb">
                                            <img src="/assets/imgs/page/product/img-gallery-5.jpg"
                                                 alt="product image">
                                        </div>
                                    </div>
                                    <div>
                                        <div class="item-thumb">
                                            <img src="/assets/imgs/page/product/img-gallery-6.jpg"
                                                 alt="product image">
                                        </div>
                                    </div>
                                    <div>
                                        <div class="item-thumb">
                                            <img src="/assets/imgs/page/product/img-gallery-7.jpg"
                                                 alt="product image">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box-tags">
                            <div class="d-inline-block mr-25">
                                <span class="font-sm font-medium color-gray-900">Category:</span><a class="link" href="#">Smartphones</a>
                            </div>
                            <div class="d-inline-block">
                                <span class="font-sm font-medium color-gray-900">Tags:</span><a class="link" href="#">Blue</a>,<a class="link" href="#">Smartphone</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="product-info">
                            <h5 class="mb-15">
                                SAMSUNG Galaxy S22 Ultra, 8K Camera & Video, Brightest Display Screen, S Pen Pro
                            </h5>
                            <div class="info-by">
                                <span class="bytext color-gray-500 font-xs font-medium">by</span><a class="byAUthor color-gray-900 font-xs font-medium" href="shop-vendor-list.html"> Ecom Tech</a>
                                <div class="rating d-inline-block">
                                    <img src="/assets/imgs/template/icons/star.svg" alt="Ecom"><img src="/assets/imgs/template/icons/star.svg" alt="Ecom"><img src="/assets/imgs/template/icons/star.svg" alt="Ecom"><img src="/assets/imgs/template/icons/star.svg" alt="Ecom"><img src="/assets/imgs/template/icons/star.svg" alt="Ecom"><span class="font-xs color-gray-500 font-medium"> (65 reviews)</span>
                                </div>
                            </div>
                            <div class="border-bottom pt-10 mb-20"></div>
                            <div class="box-product-price">
                                <h3 class="color-brand-3 price-main d-inline-block mr-10">$2856.3</h3><span class="color-gray-500 price-line font-xl line-througt">$3225.6</span>
                            </div>
                            <div class="product-description mt-10 color-gray-900">
                                <ul class="list-dot">
                                    <li>8k super steady video</li>
                                    <li>Nightography plus portait mode</li>
                                    <li>50mp photo resolution plus bright display</li>
                                    <li>Adaptive color contrast</li>
                                    <li>premium design & craftmanship</li>
                                    <li>Long lasting battery plus fast charging</li>
                                </ul>
                            </div>
                            <div class="box-product-color mt-10">
                                <p class="font-sm color-gray-900">Color:<span class="color-brand-2 nameColor">Pink Gold</span></p>
                                <ul class="list-colors">
                                    <li class="disabled">
                                        <img src="/assets/imgs/page/product/img-gallery-1.jpg" alt="Ecom"
                                             title="Pink">
                                    </li>
                                    <li><img src="/assets/imgs/page/product/img-gallery-2.jpg" alt="Ecom" title="Gold"></li>
                                    <li><img src="/assets/imgs/page/product/img-gallery-3.jpg" alt="Ecom" title="Pink Gold"></li>
                                    <li><img src="/assets/imgs/page/product/img-gallery-4.jpg" alt="Ecom" title="Silver"></li>
                                    <li class="active">
                                        <img src="/assets/imgs/page/product/img-gallery-5.jpg" alt="Ecom"
                                             title="Pink Gold">
                                    </li>
                                    <li class="disabled">
                                        <img src="/assets/imgs/page/product/img-gallery-6.jpg" alt="Ecom"
                                             title="Black">
                                    </li>
                                    <li class="disabled">
                                        <img src="/assets/imgs/page/product/img-gallery-7.jpg" alt="Ecom" title="Red">
                                    </li>
                                </ul>
                            </div>
                            <div class="box-product-style-size mt-10">
                                <div class="row">
                                    <div class="col-lg-12 mb-10">
                                        <p class="font-sm color-gray-900">Style:<span class="color-brand-2 nameStyle">S22</span></p>
                                        <ul class="list-styles">
                                            <li class="disabled" title="S22 Ultra">S22 Ultra</li>
                                            <li class="active" title="S22">S22</li>
                                            <li title="S22 + Standing Cover">S22 + Standing Cover</li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-12 mb-10">
                                        <p class="font-sm color-gray-900">Size:<span class="color-brand-2 nameSize">512GB</span></p>
                                        <ul class="list-sizes">
                                            <li class="disabled" title="1GB">1GB</li>
                                            <li class="active" title="512 GB">512 GB</li>
                                            <li title="256 GB">256 GB</li>
                                            <li title="128 GB">128 GB</li>
                                            <li class="disabled" title="64GB">64GB</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="buy-product mt-5">
                                <p class="font-sm mb-10">Quantity</p>
                                <div class="box-quantity">
                                    <div class="input-quantity">
                                        <input class="font-xl color-brand-3" type="text" value="1"><span class="minus-cart"></span><span class="plus-cart"></span>
                                    </div>
                                    <div class="button-buy">
                                        <a class="btn btn-cart" href="shop-cart.html">Add to cart</a><a class="btn btn-buy" href="shop-checkout.html">Buy now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>