<form [formGroup]="form" skipValidation (ngSubmit)="saveChange()">
    <p-panel #pnl [toggleable]="true">
        <!--  Form-->
        <div class="formgrid grid">
            <div class="field col-4">
                <label for="shippingName" class="block">Tên đơn vị vận chuyển<span class="required">*</span></label>
                <input formControlName="shippingName" class="w-full" pInputText type="text" />
            </div>
            <div class="field col-4">
                <label for="shippingFee" class="block">Phí vận chuyển<span class="required">*</span></label>
                <p-inputNumber formControlName="shippingFee" class="w-full" skipValidation></p-inputNumber>
            </div>
            <div class="field-checkbox col-4">
                <p-checkbox formControlName="status" binary="true" id="status"></p-checkbox>
                <label for="status">Sử dụng</label>
            </div>
            <div class="field col-12">
                <label for="description" class="block">Mô tả</label>
                <p-editor formControlName="description" [style]="{'height':'200px'}" skipValidation></p-editor>
            </div>
        </div>
        <ng-template pTemplate="footer">
            <button type="submit" [disabled]="!form.valid || btnDisabled" pButton icon="fa fa-save" iconPos="left"
                label="Lưu lại"></button>
        </ng-template>
        <!--Blocked UI-->
        <p-blockUI [blocked]="blockedPanel" [target]="pnl">
            <p-progressSpinner></p-progressSpinner>
        </p-blockUI>
    </p-panel>
</form>
